<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284006586186-o0fd2o5edk1s3gke4sk2e044gh45p2do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284006586186-o0fd2o5edk1s3gke4sk2e044gh45p2do</string>
	<key>API_KEY</key>
	<string>AIzaSyAPy_D0dABlPHFoWI-E7iJ2mLrfJM6v56Q</string>
	<key>GCM_SENDER_ID</key>
	<string>284006586186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.HairThere</string>
	<key>PROJECT_ID</key>
	<string>hairthere-bd3c6</string>
	<key>STORAGE_BUCKET</key>
	<string>hairthere-bd3c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284006586186:ios:368798f6dc0e6f73f093b3</string>
	<key>DATABASE_URL</key>
	<string>https://hairthere-bd3c6.firebaseio.com</string>
</dict>
</plist>